// Base Styles
@import 'bourbon/bourbon';
@import 'neat/neat';

//Mixins
@import 'mixins/vertical-align';

//Partials
@import 'partials/hero';
@import 'partials/navigation';
@import 'partials/portfolio';
@import 'partials/about';
@import 'partials/contact';
@import 'partials/projects';

//Custom Styles

body {
  padding-top: 0;
  color: #000000;
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

//Typography

h1, h2, h3, h4, h5, p {
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
  color: #777777;
}

//Sections
.section-row {
  height: auto;
}

.section-titles {
  margin: 1em auto;
  padding: 25px 2px 5px;
  border-bottom: #E9BD8F 4px solid;
}

/*Hover Styles*/
:focus {
  outline: none;
}

a:hover{
  background-color: transparent !important;
  text-decoration: none;
}

.underline:hover {
  border-bottom: 1px solid #888888;
}

//Media queries
@import 'partials/media-queries';
