//About
.about-h1 {
  @extend .section-titles;
  width: 135px;
  padding-top: 95px !important;
}

.about-h4 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 130%
}

.circle-space {
  margin-bottom: 8em;
}


/*circle hover styles */
.ch-circle {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 80px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  transition: all 0.4s ease-in-out;
}

.ch-img-1.ch-circle:hover {
  box-shadow: none;
  transform: none;
}

.ch-img-1 {
  background-image:url('../img/me.jpg');
  background-size: 200px;
}

.ch-img-2 { 
  background-image:url('../img/goto-flickr2.png');
  background-position: center;
  background-size: 100%;
}

.ch-img-3 { 
  background-image:url('../img/resume.png');
  background-position: center;
  background-size: 100%;
}

.ch-text-in {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

.ch-circle h3 {
  color: #fff;
  position: absolute;
  letter-spacing: 2px;
  font-size: 28px;
  height: 50px;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 400;
  text-shadow: 
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.2);
}


a .ch-text-in p {
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  padding-top: 8px;
  font-family: 'Quicksand', Arial, sans-serif;
  position: relative;
  margin: 50px 25px;
  font-size: 14px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

a .ch-text-in h4 {
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
  margin: auto;
  font-family: 'Quicksand', Arial, sans-serif;
  text-shadow: 
      0 0 1px #fff, 
      0 1px 2px rgba(0,0,0,0.2);
}

.ch-text-in p a:hover {
  color: #EEE;
}

.ch-circle:hover {
  box-shadow: 
      inset 0 0 0 110px rgba(40,40,40, 0.4),
      0 1px 2px rgba(0,0,0,0.1);
}

.ch-circle:hover .ch-text-in {
  opacity: 1;
  transform: scale(1);
}
