//Contact

.contact-h1 {
  @extend .section-titles;
  width: 195px;
  padding-top: 95px;
}

.contact-list {

  li {
    list-style: none;

    &:last-child {
      margin-bottom: 8em;
    }

    a {
      font-size: 1.6em;
      font-weight: 500;
    }

    img {
      padding: 10px;
      margin: 0 auto;
    }
  }
}


.add-padding-bottom {
  padding-bottom: 50px;
}

.add-padding-bottom-130 {
  padding-bottom: 130px;
}
