//Navigation

.navbar {
  padding: 0;
  margin-bottom: 0;
  background-image: none;
  border-radius: none;
  box-shadow: none;
  background-color: #384150;

  .nav {
    background-color: #384150;
    display: table;
    height: 50px;
    margin: 0;
    width: 100%;

    li a {
      border-bottom: #525E74 3px solid;
      color: #ffffff;
      font-size: 1.6em;
      font-weight: 400;
      margin: 10px 80px 15px 80px;
      padding: 4px 2px;

      &:hover {
        border-bottom: #DEDEDE 3px solid;
      }
    }
  }
}

.active {
  color: #ffffff;
  font-weight: 400;

  a {
    border-bottom: #DEDEDE 3px solid !important;
  }
}

.anchor a {
  display: block;
  height: 75px; /* height as header */
  visibility: hidden;
}


.affix {
  top: 0px;
  z-index: 2000;
  opacity: .95;
}

//Override in Firefox
.nav-collapse.collapse {
  width: 100%;
}
