<section class="week">
    <h2>Week 5: <span>February 6, 2018</span></h2>
    <div class="week-card">
        <h3>Selectors &amp; Layout: Floats</h3>
        <ul>
            <li class="week5">Announcements</li>
            <li class="week5">Display and Box Model Recap</li>
            <li class="week5">More on CSS Selectors</li>
            <li class="week5">Layout with Floats</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/7h2otmpqhzo20l1/ReviewAndSelectors.pdf?dl=0" target="_blank">Selectors presentation</a></li>
            <li><a href="https://www.dropbox.com/s/os42vbhxmqcxbfd/Layouts_Floats.pdf?dl=0" target="_blank">Layout presentation</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Finish the New Yorker page layout</h3>
        <p>Finish adding the remaining content from the
        "NewYorkerScreenshot_FullPage" screenshot - you can find the remaining
        images as well as starting HTML/CSS files to use if you need them in the
        source files below. Using the float method we went over in class,
        arrange the content into the correct layout. Feel free to use lorem
        ipsum for the remaining copy on the page. Don't worry about adding
        the correct visual styles (color, fonts, etc.) yet. We'll work on that
        next class.</p>

        <a href="https://www.dropbox.com/sh/oz8dryih1xkhvqo/AAAiy7No6g9bkBMUjc8UOke4a?dl=0">
            <strong>Assignment 5 Source Files</strong>
        </a>

        <p class="due-date">Due on Feb 13</p>
        <a href="https://www.dropbox.com/request/J7cLhQxiFS6wqcTsSjus" target="_blank" class="button">Submit Assignment 5</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://docs.google.com/document/d/1iWCuRsxm8N1oqHgLf0cmEtpqFawwYcUeKWgKBRMEBNs/edit#heading=h.eqlfzactckk2">Troubleshooting Doc</a></li>
            <li><a target="_blank" href="http://meettheipsums.com/">Meet the Ipsums</a></li>
            <li><a target="_blank" href="https://www.facebook.com/events/973644952794549/">Design + Biz
                Event</a></li>
        </ul>
    </div>
</section>



