<section class="week">
    <h2>Week 1 <span>September 6, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Introductions &amp; Overview</h3>
        <ol class="padded-list">
            <li>Introductions</li>
            <li>Review Syllabus</li>
            <li>Set Up Dropbox</li>
            <li>Install Text Editor</li>
        </ol>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment: Set Up </h3>
        <ol>
            <li>Create a folder in the shared Dropbox folder that corresponds
                with your section. It should follow this naming format:
                "LastName_FirstName", ex: `Silva_Cristina`. <br>
                <ul class="padded-list">
                    <li>
                        <a href="https://www.dropbox.com/sh/0nto2k3tylg1m5j/AACf2w4dTmGTEXV7rp4Jj4a4a?dl=0">
                            Section 01: Wednesday, 5:45pm
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/9bdtjyysmitf8t2/AABUU9vN3ehDaSJ6wdS5xnr3a?dl=0">
                            Section 02: Wednesday, 7:00pm
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/5ko1nl10w8lvago/AADcudNubS0dFDejir3YNG-xa?dl=0">
                            Section 05: Wednesday, 4:00pm
                        </a>
                    </li>
                </ul>
            </li>
            <li>Download and install your text editor of choice. <a
             href="https://www.sublimetext.com/3">Sublime Text</a> or <a
             href="https://atom.io/">Atom</a> are good options.
            </li>
            <li>Fill out <a href="https://goo.gl/forms/YBk5SOntvooxIAZd2">this
                    survey</a> to help me teach y'all better.
            </li>
        </ol>
    </div>
</section>

