<section class="week">
    <h2>Week 11: <span>April 3, 2018</span></h2>
    <div class="week-card">
        <h3>Animations, Transitions &amp; Transforms (and some other misc.
            goodies)</h3>
        <ul>
            <li class="week11">Fill out the survey</li>
            <li class="week11">Animations, Transitions, Transforms</li>
            <li class="week11">Working Class</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/fl2n2dxzcmf2k0f/Class10_AnimationsTransitionsTransforms.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <li><a href="https://www.dropbox.com/sh/k9rixfv57ngj9yz/AAAe9Yb8YgyKv16J7DxNWS_sa?dl=0" target="_blank">Class Demos</a></li>
            <li><a href="https://goo.gl/forms/Iwi8PGdOJ6yLEef92" target="_blank">Survey</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Create an interactive/animated online business/contact card</h3>
        <p>Create a one page website with a business/contact card. Include your
        name, an avatar photo, email, major, interests, hobbies, and skills.
        Think of it as a mini online resume.</p>
        <p>Please include at least one animation, transform and transition (you
        can combine them too!). This is a good opportunity to use all the skills
        you've learned this semester so feel free to get creative and use custom
        fonts, icons, photos and more if you're feelin' it.</p>
        <p>Please make sure you also fill out the survey about what you'd like
        to cover in our last two classes.</p>
        <p>Please hand in your site files in a .zip folder (don't forget your
        images and fonts if you're using them!)</p>

        <p class="due-date">Due on April 10</p>
        <a href="https://www.dropbox.com/request/3KjduyLEVCkcj7hiwx3M" target="_blank" class="button">Submit Assignment 9</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://css-tricks.com/almanac/properties/t/transform/">CSS Tricks: Transform</a></li>
            <li><a target="_blank" href="https://robots.thoughtbot.com/transitions-and-transforms">thoughtbot: Transitions and Transforms</a></li>
            <li><a target="_blank" href="https://robots.thoughtbot.com/css-animation-for-beginners">thoughtbot: Animations</a></li>
            <li><a target="_blank" href="https://tympanus.net/codrops/">Codrops</a></li>
            <li><a target="_blank" href="https://atomiks.github.io/30-seconds-of-css/">30
                    Seconds of CSS</a></li>
        </ul>
    </div>
</section>
