<section class="week">
    <h2>Week 4: <span>January 30, 2018</span></h2>
    <div class="week-card">
        <h3>No in person class session today!</h3>
        <h3>HTML Structures and Organization</h3>
        <p>Please read through the presentation below on HTML structure for
        common web design patterns. Feel free to email me if you have further
        questions or if there's anything you didn't quite understand. I'll
        review in class next week as well.</p>
        <p>Next time we meet, we'll learn how to use CSS to create more
        complex layouts by replicating a page of the New Yorker website. To prep
        for the exercise, your homework is to begin adding the content to an HTML
        file.</p>
        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/kcfmrwyao2qd5l0/Class4_HTMLstructure.pdf?dl=0" target="_blank">HTML Structure Presentation</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Prep for New Yorker assignment</h3>
        <p>Below you'll find a link to source files containing two screenshots:
        one of the full page and one for this assignment as well as the images
        from the page.</p>
        <p>Create an HTML file and add the content including images from the
        screenshot named <strong>"NewYorkerScreenshot_Assignment"</strong> to
        your page using the appropriate HTML elements. Group sections of content
        using divs with your own classes. Don't to worry about CSS yet, we'll do
        that in class together.</p>
        <p>As always, take a screenshot of your page (it will be long! so check
        out this <a href="https://chrome.google.com/webstore/detail/full-page-screen-capture/fdpohaocaechififmbbbbbknoalclacl?hl=en-US">full page screenshot</a> 
        Chrome extension) and upload the screenshot and site files in a zip
        folder to Dropbox.</p>

        <a href="https://www.dropbox.com/sh/n2f4d3ot1b71d3p/AAACmVQJgLGT5ZzYijBVhy1Za?dl=0">
            <strong>Assignment Source Files</strong>
        </a>

        <p class="due-date">Due on Feb 6</p>
        <a href="https://www.dropbox.com/request/OA4ZmQuUJEcOvOmqX3kN" target="_blank" class="button">Submit Assignment 4</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://chrome.google.com/webstore/detail/full-page-screen-capture/fdpohaocaechififmbbbbbknoalclacl?hl=en-US">Full Page Screenshots</a></li>
            <li><a target="_blank" href="#">More on HTML structure</a></li>
        </ul>
    </div>
</section>


