<section class="week">
    <h2>Week 9: <span>March 20, 2018</span></h2>
    <div class="week-card">
        <h3>Flexbox &amp; Website Review</h3>
        <ul>
            <li class="week9">Announcements</li>
            <li class="week9">Remaining class schedule</li>
            <li class="week9">Flexbox</li>
            <li class="week9">Work session</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/onrabv7ewmsgr1t/Class8_Flexbox.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <li><a href="#" target="_blank">In Class Demos (soon)</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Create a multipage website, Part 2</h3>
        <p>Build out the rest of your multipage website based on the discussion
        we had one on one in class (if you missed class, please email me ASAP so
        we can discuss what you should be working on).</p>
        <p>The completed site hosted online is due on April 3rd.</p>
        <p>In preparation for next week's class on hosting with Amazon Web
        Services (AWS), please <a href="https://aws.amazon.com/">create an AWS account</a> and register a domain name
        through <a href="https://aws.amazon.com/route53/">Route 53.</a> Once you
        create your AWS account, you can buy a domain name using the "Register a
        Domain Name" link on your Dahsboard page under "Build a Solution".</p>
        <p>If you already have a domain name, you can either go through the
        process of <a
        href="https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html">transferring
    the domain to AWS</a> or purchase an alternative domain through AWS. (If you
        already have a hosting solution in place, you're all set and can skip
        this step).</p>

        <p class="due-date">Due on April 3</p>
        <a href="https://www.dropbox.com/request/TonxFIKCoX5YP6p08oMn" target="_blank" class="button">Submit Assignment 8</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="http://flexboxfroggy.com/">Flexbox Froggy</a></li>
            <li><a target="_blank" href="http://www.flexboxdefense.com/">Flexbox Defense</a></li>
            <li><a target="_blank" href="https://github.com/philipwalton/flexbugs">Flexbugs</a></li>
            <li><a target="_blank"
                    href="https://codepen.io/justd/full/yydezN/">Flexbox
                    Playground</a></li>
        </ul>
    </div>
</section>


