<section class="week">
    <h2>Week 10: <span>March 27, 2018</span></h2>
    <div class="week-card">
        <h3>Exporting Assets for the Web and Hosting Sites Online</h3>
        <ul>
            <li class="week10">Announcements</li>
            <li class="week10">Exporting Assets</li>
            <li class="week10">Hosting terms and definitions</li>
            <li class="week10">Hosting with AWS walkthrough</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/jv6iocz0a2yz33h/Class9_ImageExportsandWebHosting.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <li><a href="https://docs.google.com/document/d/1Enj8B6E0bno7XscRQWR5KvDpGRPXG2tc3EZVNDmsI5Q/edit?usp=sharing" target="_blank">Hosting Tutorial</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Finish your site and host it online</h3>
        <p>Finish your multipage website. Let me know if you have any questions
        on what you should be working on.</p>
        <p>Host your site online with AWS (or another service if that's what
        you're using). Feel free to make a subdomain or link to a subfolder if
        you don't want it as your domain's home page/main site. You can remove
        your site after next class if you have other plans for your domain.</p>
        <p>Please turn in all of your site files in a zip folder and a text file
        with your domain name/url so I can see your hosted site.</p>

        <p class="due-date">Due on April 3</p>
        <a href="https://www.dropbox.com/request/TonxFIKCoX5YP6p08oMn" target="_blank" class="button">Submit Assignment 8</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="http://mavo.io/">Mavo</a></li>
            <li><a target="_blank" href="https://interventions.design/">Interventions</a></li>
            <li><a target="_blank" href="https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html">AWS Host a Static Site Docs</a></li>
            <li><a target="_blank" href="https://www.davidbaumgold.com/tutorials/host-static-site-aws-s3-cloudfront/">AWS Blog Post Tutorial</a></li>
            <li><a target="_blank" href="https://imageoptim.com/mac">ImageOptim</a></li>
            <li><a target="_blank" href="https://svgontheweb.com/">SVG on the Web</a></li>
            <li><a target="_blank" href="https://unsplash.com/">Unsplash</a></li>
            <li><a target="_blank" href="https://nos.twnsnd.co/">New Old Stock</a></li>
            <li><a target="_blank" href="https://thenounproject.com/">The Noun Project</a></li>
            <li><a target="_blank" href="https://stock.adobe.com/">Adobe Stock Photos</a></li>
            <li><a target="_blank" href="https://www.toptal.com/designers/subtlepatterns/">Subtle Patterns</a></li>
        </ul>
    </div>
</section>



