<h1 id="lessons-assignments" class="title-heading">Lessons &amp; Assignments</h1>
<section class="week">
    <h2>Week 1: <span>January 9, 2018</span></h2>
    <div class="week-card">
        <h3>In Class: Introductions &amp; Overview</h3>
        <ol>
            <li class="week1">Introductions</li>
            <li class="week1">Review Syllabus</li>
            <li class="week1">Install Text Editor</li>
            <li class="week1">Vocab</li>
        </ol>
        <h3>Class Files</h3>
        <a href="#">Vocab PDF</a>
    </div>
    <div class="week-card">
        <h3>Assignment: Survey (5pts)</h3>
        <p>Complete <a href="https://goo.gl/forms/k8CWDMfs5P6pMpsy1"
        target="_blank">this survey</a> about your coding background and
        objectives for the course.</p>
        <p>Take a screenshot of the "Your response has been recorded" page and upload
        the image to Dropbox.</p>
        <p class="due-date">Due on Jan 16</p>
        <a href="https://www.dropbox.com/request/1GOl7OkpgLQRDJyLajGi"
        target="_blank" class="button">Submit Assignment 1</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a href="https://www.sublimetext.com/3">Sublime Text</a></li>
            <li><a href="https://atom.io/">Atom</a></li>
        </ul>
    </div>
</section>

