<section class="week">
    <h2>Week 4 <span>September 27, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Selectors, Layout, & Floats</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>CSS Shorthand</li>
            <li>More on Selectors</li>
            <li>Download <a href="https://www.dropbox.com/sh/17e730u803w9cyv/AAD2CZzyYSL40Cu2YxUKuBh8a?dl=0">Starter Files</a></li>
            <li>Floats</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/1re3sbcyj8fdyic/Class%204_Layouts_Floats_Selectors.pdf?dl=0">PDF</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <p>Class files:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/sh/zk5hoi2fxlmq08c/AAAykDWRFq_isT7GKDNsDYgwa?dl=0">Section 1</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/q7z5mivx49yc3ms/AABXPXEpBn-dLCxr67fH3th4a?dl=0">Section 2</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/j027br3ao4272uo/AABV-vioJ4oAi0qnjMjFUdYea?dl=0">Section 5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="week-card">
        <h3 class="label">Assignment 4: Finish Coding the New Yorker site</h3>
        <p>Finish building out the New Yorker page using HTML and CSS.</p>
        <p>Work on adding the remaining content, achieving the correct layout
        and spacing.</p>
        <p>Feel free to use Lorem Ipsum of your choice as the content.</p>
        <p>Take a screenshot of your site.</p>
        <p>Create a folder called <strong>"week_04"</strong> in Dropbox.</p>
        <p>Upload your site files and screenshot to Dropbox.</p>
        <p>We'll keep adding to this in next week's class to work on the
        Typography, adding new pages and interactions.</p>
    </div>
</section>

