<section class="week">
    <h2>Week 12: <span>April 10, 2018</span></h2>
    <div class="week-card">
        <h3>Responsive Design Intro and Working Class</h3>
        <ul>
            <li class="week12">Announcements</li>
            <li class="week12">Responsive design intro demo</li>
            <li class="week12">Working period</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="#" target="_blank">Class Presentation</a></li>
            <li><a href="https://www.dropbox.com/sh/n8aunkr85b1uaca/AACroyzM1yMXrgnhVDdxBsmia?dl=0" target="_blank">Class Demos</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Extra Credit: 10pts</h3>
        <p>Take your New Yorker page and make a responsive layout for it.</p>
        <p>You should be aiming for
        <a href="https://www.dropbox.com/s/0ewrbjhl80yn9op/mobile%20screenshot.jpg?dl=0"> this type of layout</a>
        but go ahead and keep the same images and copy as your original
        assignment. Feel free to refer to the live New Yorker site to play
        around with how the layouts change at smaller sizes but focus on
        creating the layout at about 600px wide.</p>
        <p>Hand in your site files in a .zip folder at the Dropbox link below.</p>

        <p class="due-date">Due on April 20</p>
        <a href="https://www.dropbox.com/request/gO1IwWw2cUrx5DQIWnKA" target="_blank" class="button">Submit Extra Credit</a>

    </div>
    <div class="week-card">
        <h3>Assignment Redos</h3>
        <p>You have until April 27th to redo an assignment that you'd like a
        better grade on.</p>
        <p>If you missed any assignments, I'll accept a late submission for half
        credit. Also due by April 27th.</p>
        <p>Please label your .zip folder with what assignment you're turning in
        so I can keep track of them. If you don't name it correctly, I can't
        count it toward your grade.</p>

        <p class="due-date">Due on April 27</p>
        <a href="https://www.dropbox.com/request/9ThwlGgHijvUx8VTEa4x" target="_blank" class="button">Submit Assignment Redos</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/events/1529229847176238/">Event: Print Isn't Dead</a></li>
            <li><a target="_blank"
                    href="https://www.facebook.com/events/169496910373853/">Event:
                Designing Interfaces &amp; Experiences</a></li>
            <li><a target="_blank"
                    href="https://alistapart.com/article/responsive-web-design">A
                    List Apart: Responsive
                Design</a></li>
        </ul>
    </div>
</section>

