<section class="week">
    <h2>Week 4: <span>January 30, 2018</span></h2>
    <div class="week-card">
        <h3>No in person class session today!</h3>
        <h3>HTML Structures and Organization</h3>
        <p>Please read through the presentation below on HTML structure for
        common web design patterns. Feel free to email me if you have further
        questions or if there's anything you didn't quite understand. I'll
        review in class next week as well.</p>
        <h3>Class Files</h3>
        <ul>
            <li><a href="#" target="_blank">HTML Structure Presentation</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Prep for New Yorker assignment</h3>
        <p>Next time we meet, we'll learn how to use CSS to manipulate more
        complex layouts by replicating a page of the New Yorker website.</p>
        <p>Below you'll find a link to source files containing a screenshot of
        the page we'll be creating and the images we'll be using.
        <p>Please create an HTML file and add the content including images from
        the screenshot to your page using the appropriate HTML elements. Group
        sections of content using divs with your own classes. No need to worry
        about CSS or styling yet, we'll do that in class together.</p>
        <p>As always, take a screenshot of your page (it will be long! so check
        out this <a href="#">full page screenshot</a> Chrome extension) and
        upload the screenshot and site files in a zip folder to Dropbox.</p>

        <p class="due-date">Due on Feb 6</p>
        <a href="https://www.dropbox.com/request/T5pZv792TlmZjuxWIzo6" target="_blank" class="button">Submit Assignment 3</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="#">Full Page Screenshots</a></li>
            <li><a target="_blank" href="#">More on HTML structure</a></li>
        </ul>
    </div>
</section>


