<section class="week">
    <h2>Week 7: <span>February 27, 2018</span></h2>
    <div class="week-card">
        <h3>Multipage Websites, Navigation and Positioning</h3>
        <ul>
            <li class="week7">Announcements</li>
            <li class="week7">Making multipage websites</li>
            <li class="week7">Navigation patterns</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/6u93qmmgwq1d07h/Class7_MutlipageSitesAndPositioning.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <li><a href="https://www.dropbox.com/sh/nkas43p8btnxxo2/AAALKSkMrWIUskMG3fLiBLEva?dl=0" target="_blank">In Class Demos</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Create a multipage website, Part 1</h3>
        <p>You'll be creating a multipage website over the course of the next
        couple weeks. It can be the basis of your portfolio site, a fan site of
        your favorite artist, a blog, an informative site about your favorite
        cause - the content and design is entirely up to you here.</p>
        <p>Your site must include at least three pages that all link to each
        other.</p>
        <p>For the next time we meet, sketch out the content and design for each
        of the three pages of your website. They can be done with pen and paper or
        with something like Sketch, Photoshop, Figma etc. - up to you and
        whatever you're the most comfortable with.</p>
        <p>Also, create the three HTML pages and link them together in
        preparation for adding your content and styles the next time we meet.
        The links should be in a div with a position set and loosely styled.</p>
        <p>Upload your site files and sketches in a .zip file and upload it to
        the Dropbox link below.</p>
        <p>Don't stress too much on your designs! I'm not grading you on your
        design capabilities here but feel free to ask me questions or for
        feedback if you're planning on using this for your portfolio or want
        design specific help.</p>

        <p class="due-date">Due on March 13</p>
        <a href="https://www.dropbox.com/request/hdVQcZU05TZM9ml8EioS" target="_blank" class="button">Submit Assignment 7</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank"
                    href="https://www.facebook.com/events/527925737585661/">MFA Late Nites</a></li>
            <li><a target="_blank" href="https://www.figma.com/">Figma</a></li>
            <li><a target="_blank"
                    href="https://css-tricks.com/quick-reminder-about-file-paths/">File
                Paths</a></li>
            <li><a target="_blank"
                    href="https://codepen.io/simevidas/pen/JbdJRZ">Sticky
                    Position Demo</a></li>
        </ul>
    </div>
</section>

