<section class="week">
    <h2>Week 2: <span>January 16, 2018</span></h2>
    <div class="week-card">
        <h3>In Class: The Anatomy of HTML &amp; CSS Files</h3>
        <ul>
            <li class="week2">Announcements</li>
            <li class="week2">Vocabulary</li>
            <li class="week2">HTML File Setup</li>
            <li class="week2">CSS File Setup</li>
        </ul>
        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/3hgo0mys0ejpb88/class2_htmlcssBasics.pdf?dl=0" target="_blank">PDF</a></li>
            <li><a href="#" target="_blank">Code files (Coming soon)</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: HTML/CSS Practice</h3>
        <p>Building on the files we started in class, add the following content and styles to your site:</p>
        <ul class="assignment-list">
            <li>Change the background-color of the `body`</li>
            <li>Change the font of both the `h1` and the `p` element</li>
            <li>The HTML element(s) you would use to add a list with
                bullets or numbers (you might need to consult one of the
                reference links below).</li>
            <li>Use a `span` to change the color of a word in a paragraph</li>
            <li>Use a `div` with a class to add a border around two adjacent elements</li>
        </ul>
        <p>Take a screenshot of your page. Put the screenshot, html and css
        files in a folder and upload to Dropbox</p>
        <p class="due-date">Due on Jan 23</p>
        <a href="https://www.dropbox.com/request/ZL0GuRosrU6G84NRE4X3"
        target="_blank" class="button">Submit Assignment 2</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://amessagefrom.earth/">Cool Site</a></li>
            <li><a target="_blank" href="https://generalassemb.ly/education/intro-to-ux-design-247ed3ff-cbb9-48f7-93c2-9a7353e5ae75/boston/44899?utm_medium=paid-social-pro-ntf&utm_source=facebook&utm_content=event-lander&utm_term=44899">Free UX Class</a></li>
            <li><a target="_blank" href="http://htmlreference.io/">HTML Reference</a></li>
            <li><a target="_blank" href="http://cssreference.io/">CSS Reference</a></li>
            <li><a target="_blank" href="https://www.w3schools.com/TAgs/default.asp">w3c Reference</a></li>
        </ul>
    </div>
</section>
