<section class="week">
    <h2>Week 9 <span>November 8, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">Navigations, Web Typography, &amp; Exporting Images</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Navigation Elements &amp; Positioning</li>
            <li>Web Typography</li>
            <li>Exporting Assets for the Web</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/mn3txlqn8l3fs0w/Class9_WebTypography-ImageAssets.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a
                            href="https://www.dropbox.com/sh/r3q6kv41dectzls/AAAaJXPVo0oWF2pEn1zgcotBa?dl=0">Navigation
                        Elements &amp; Positioning</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/fqzc3hx0kptieo1/AADTPt49UjwFKpOb-pTVFwH_a?dl=0">Typography</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/037rrqjhhs57ivf/AAARiYc64YtQOpsc2cz2tDiga?dl=0">Images on the Web</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 9</h3>
        <h4 class="label">Part One: Recipe Website</h4>
        <p>Create a small, one-page website to share your favorite recipe - it
        can be original or taken from your favorite food blog/recipe site.
        Establish a typographic hierarchy using different font sizes, styles and
        weights.</p>
        <p>The page should include:</p>
        <ol>
            <li>
                A "navigation element" that uses positioning (the links don't
                need to lead anywhere.
            </li>
            <li>
                At least one image of the recipe.
            </li>
            <li>
                Recipe title, description, ingredients and instructions.
            </li>
        </ol>
        <p>Please use:</p>
        <ol>
            <li>
                At least one `background-image` element in your css.
            </li>
            <li>
                A custom web font.
            </li>
        </ol>
        <p>Layout and styles are up to your discretion. Get creative; take a
        look at food blogs, dribbble or pinterest for design inspiration if
        you're feeling it.</p>
        <hr>
        <h4 class="label">Part Two: Portfolio Site Research</h4>
        <p>Research online portfolio sites. They can be of designers,
        photographers, illustrators, cake decorators, you name it. Take
        screenshots of the homepage and a project page of your favorites.</p>
        <p>Choose one site to mockup how you would structure the home page and
        subpage in html. Either sketch directly on the screenshots (printed or
        on the computer) or draw out the elements on paper.</p>
        <hr>
        <h4 class="label">Upload to Dropbox</h4>
        <p>Create a week_09 folder in your Dropbox. Create a subfolder for the
        recipe site and one for the Portfolio Site research - upload screenshots
        and site files to one and your portfolio research and sketches to the
        other.</p>
    </div>
</section>
