<section class="week">
    <h2>Week 10 <span>November 15, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">CSS Selectors, More Pseudo Elements, and Flexbox</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>CSS Selectors</li>
            <li>Pseudo Classes</li>
            <li>Flexbox!</li>
            <li>Review Homework for next week</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Office hours appointments</p>
                <a href="https://doodle.com/poll/3n6e97g3rdxypesw">Appointment
                    slots</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/uep39u9k6l1jl34/Class10_SelectorsPseudoClassesFlexbox.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a
                            href="https://www.dropbox.com/sh/qilv4h0jtcn9fpi/AAAiduGUfBQfmdjVbFna10Ega?dl=0">CSS Selectors &amp; Pseudo Classes</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/u8lio4c33fhurtz/AADmfwNJEfVJdBLshKIaip1ba?dl=0">Flexbox</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 10</h3>
        <h4 class="label">Mock Portfolio Site</h4>
        <p>Create a portfolio home page and one example project page based on one
        of the portfolios you researched (or go rogue and create your own!).
        Feel free to use your own work or whatever images and text you want from
        the internet.</p>
        <p>Make a week_10 folder in your dropdbox and upload your site files and
        screenshots of your page</p>
        <p>This is due on our last day of class, Dec 6</p>
    </div>
</section>

