<section class="week">
    <h2>Week 6: <span>February 13, 2018</span></h2>
    <div class="week-card">
        <h3>Custom Fonts and Visual Styles</h3>
        <ul>
            <li class="week6">Announcements</li>
            <li class="week6">Floats Review</li>
            <li class="week6">Adding Custom Fonts</li>
            <li class="week6">Visual Styles in CSS</li>
        </ul>

        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/xpa7evkycbqor1u/Class6_FloatReviewFontsHover.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <!-- <li><a href="https://www.dropbox.com/sh/27e5dqxuuiuxfxb/AAChSCKd7QuKZezcGcToXBERa?dl=0" target="_blank">In Class Demos</a></li> -->
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Complete your New Yorker page</h3>
        <p>Now that you have your layout all set, finish adding the visual
        styles to the rest of the page. Please add:</p>

        <ul class="assignment-list">
            <li><strong>Custom fonts.</strong> Use both an instance of a local font and a hosted
                font. You can find the New Yorker custom font in the source
                files below.</li>
            <li><strong>Type size and style.</strong> Match the headings, subheadings, paragraphs and
                other pieces of text approximately in their size, weight and
                color.</li>
            <li><strong>Line height.</strong> Play around with the line-height of paragraph text
                until it looks about right.</li>
            <li><strong>Borders and spacing.</strong> Again, just approximate the spacing and
                colors here.</li>
            <li><strong>Link styles.</strong> Using text-decoration and other CSS properties, add
                a default and a hover state for your links.</li>
        </ul>

        <p>As always, upload all of your site files and a screenshot of your
        page in a zip file to the dropbox link below.</p>

        <a href="https://www.dropbox.com/s/6zlb71c779worw2/NewYorker.TTF?dl=0">
            <strong>Assignment 6 Source Files</strong>
        </a>

        <p class="due-date">Due on Feb 20</p>
        <a href="https://www.dropbox.com/request/AE1iRTi7dItJMs5ocLso" target="_blank" class="button">Submit Assignment 6</a>
    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://fonts.google.com/">Google Fonts</a></li>
            <li><a target="_blank" href="https://interventions.design/">Interventions</a></li>
            <li><a target="_blank" href="https://www.icaboston.org/exhibitions/art-age-internet-1989-today">ICA: Art in the Age of the Internet</a></li>
        </ul>
    </div>
</section>




