<section class="week">
    <h2>Week 6 <span>October 9 💀 , 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Multipage Websites and Links</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Multipage Websites</li>
            <li>Links</li>
            <li>Work on Homework</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/fqzxei25jjx59rp/Class6_MultipageSites.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a
                            href="https://www.dropbox.com/sh/182ac4i707l7t8s/AACyDqw-5y_xV-LDxc83vscEa?dl=0">Link
                        Examples</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <p>Class files:</p>
                <p>Coming Soon</p>
            </div>
        </div>
    </div>

    <div class="week-card">
        <h3 class="label">Assignment 6 - Part One: Add pages to your New Yorker site</h3>
        <p>Replicate a sub-page from the New Yorker.</p>
        <p>Replicate a article page from the New Yorker.</p>
        <p>See these mockups for reference:</p>
        <p><a href="#">Sub Page</a></p>
        <p><a href="#">Article Page</a></p>
        <p>Use dummy text and whatever images you wish.</p>
        <hr>
        <h3 class="label">Assignment 6 - Part Two: Link your pages together</h3>
        <p>Link from the home page to an article.</p>
        <p>Link from the home page to a sub-page.</p>
        <p>Link from a sub-page to an article</p>
        <p>Create a new folder, take screenshots, upload the screenshots and
        your files to Dropbox.</p>
        <hr>
        <h3 class="label">Assignment 6 - Part Three: Prep for the next class</h3>
        <p>Sign up for <a href="https://aws.amazon.com/">Amazon Web Services</a></p>
        <p>Once you're signed up, buy a domain name through <a
                          href="https://console.aws.amazon.com/route53/home?#DomainRegistration:">Amazon
                          Web Services Route 53</a></p>
    </div>
</section>



