<section class="week">
    <h2>Week 3 <span>September 20, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: More HTML Elements, The Box Model, Display</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Review homework</li>
            <li>HTML Elements and Default Properties</li>
            <li>The Box Model</li>
            <li>Display</li>
            <li>Introduce Project 1</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/9eeg6nqylp6wdtg/Class3Presentation_BoxModel_Display.pdf?dl=0">PDF</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <p>Class files:</p>
                <ul>
                    <li>
                        Coming soon
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="week-card">
        <h3 class="label">Assignment 3: Sketching Code</h3>
        <p>Download the <a
            href="https://www.dropbox.com/sh/95m6f7t0wmm1q1c/AACw7F_RYoZpBjgdCPBxxkD1a?dl=0">project files.</a></p>
        <p>Print out "New Yorker Page.png" or sketch it out on paper (grid or dot
        paper works well for this if you have some).</p>
        <p>Make notes on the paper about what HTML elements and css styles you’ll need to code the page.</p>
        <p>In your Dropbox folder, create a folder called
        <strong>"week_02"</strong>, move the files from last week's assignment there.</p>
        <p>Create another folder named <strong>"week_03"</strong>. Take a photo
        of your notes and upload them to this folder.</p>
        <p>We'll start coding this together next week. Please bring your
        printout or notes to class and be prepared with any questions.</p>
    </div>
</section>
