<section class="week">
    <h2>Week 8 <span>November 1, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">Review &amp; Adanced Positioning</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Schedule for the Rest of the Semester</li>
            <li>Overview of key skills</li>
            <li>Advanced Positioning</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/uq4wa4psxfp9f1k/Class8_Review-Positioning.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a href="#">Text layout Demos (coming soon)</a>
                    </li>
                    <li>
                        <a href="#">Positioning Demos (coming soon)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 8</h3>
        <p>Create a new html document with at least three elements on the page.
        Assign each one a different position value to demonstrate how they work.
        Get creative with your styles and content.</p>
        <p>Upload your files and a screenshot of your page to a week_08 folder
        in your Dropbox.</p>
    </div>
</section>
