<section class="week">
    <h2>Week 5 <span>October 2 🍂 , 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Floats Review, Basic Typography, Fonts &amp;
        Hover States</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Review Floats: <a href="https://www.dropbox.com/sh/eqjgzoxyipnfh0u/AACJVFRsWg8kmzWSYQRfBCy_a?dl=0">Floating Colors</a></li>
            <li>Hosting Fonts</li>
            <li>Helpful CSS Properties</li>
            <li>Hover States</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/nn4obxbx2vy7sg1/Class5_FloatsFontsVisualsHover.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/eqjgzoxyipnfh0u/AACJVFRsWg8kmzWSYQRfBCy_a?dl=0">Floating Colors</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="week-card">
        <h3 class="label">Assignment 5: Add visual styles to your New Yorker
            site</h3>
        <p>
            Go to Google Fonts and find any sans-serif font that is similar to the
            one used in the New Yorker.
        </p>
        <p>
            Add visual styles to your New Yorker home page. Use the correct
            fonts, text sizes and weights, colors and other styles to make your
            site match the design of the New Yorker.
        </p>
        <p>
            Add your own hover styles to the links on the site.
        </p>
        <p>
            Take a screenshot(s) of your finished site. Record a gif using
            <a href="https://www.cockos.com/licecap/" target="_blank">Licecap</a> of your hover state.
        </p>
        <p>
            Make a folder called “week_05”, upload. your site files and screenshots.
        </p>

        <p>
            Start thinking of a domain name want to use later on.
        </p>
    </div>
</section>


