<section class="week">
    <h2>Week 3: <span>January 22, 2018</span></h2>
    <div class="week-card">
        <h3>The Box Model and Images</h3>
        <ul>
            <li class="week3">Announcements</li>
            <li class="week3">Recap</li>
            <li class="week3">The Box Model</li>
            <li class="week3">Adding Images to Your Site</li>
        </ul>
        <h3>Class Files</h3>
        <ul>
            <li><a href="https://www.dropbox.com/s/3hvludevm0sa6wt/class3_boxmodel-images-display.pdf?dl=0" target="_blank">Class Presentation</a></li>
            <li><a href="https://www.dropbox.com/sh/1fghhc78ptdeywq/AAASbR9_ZSKW2Fld4719JvMNa?dl=0" target="_blank">Code files</a></li>
        </ul>
    </div>
    <div class="week-card">
        <h3>Assignment: Create a Cheseburger using HTML &amp; CSS!</h3>
        <p>Using the source files and image provided in the folder linked below, add
        margin, padding, widths and background-colors with CSS to transform your
        plain divs into a cheeseburger.</p>
        <p>Try to match <a href="https://www.dropbox.com/s/khsklzlamh7nml8/burgerReference.png?dl=0">this design</a> as closely as possible. I
        won't be counting pixels but aim for the same general sizes and
        placement.</p>
        <p>Upload a folder containing screenshot of your burger, and all of your
        site files - including images! - to Dropbox</p>
        <a href="https://www.dropbox.com/sh/czzr29bcubsnpti/AABxafvcaFEnrOGEthGROnDia?dl=0"><strong>Source files</strong></a>

        <p class="due-date">Due on Jan 30</p>
        <a href="https://www.dropbox.com/request/T5pZv792TlmZjuxWIzo6" target="_blank" class="button">Submit Assignment 3</a>
    </div>
    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://codepen.io/team/css-tricks/pen/970f26f621cfa3ae3eec7e2a6b0e8c97">Codepen Box Sizing Demo</a></li>
            <li><a target="_blank"
                    href="http://shallowsky.com/linux/imageformats.html">Image
                    Format Info</a></li>
            <li><a target="_blank" href="https://creativemornings.com/talks/jenni-stuart">Cool Event</a></li>
            <li><a target="_blank"
                    href="https://coolors.co/app">Cool
                Site</a></li>

        </ul>
    </div>
</section>

