<section class="week">
    <h2>Week 2 <span>September 13, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Syntax, Elements and Basic Styling</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Review web vocabulary</li>
            <li>Setting up an html file</li>
            <li>Setting up a css file</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/mt24i6q6dp3u15u/Class2Presentation_Lingo.pdf?dl=0">PDF</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <p>Class files:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/sh/a6glna4tolha1q6/AAB7JiPoImmxjIQUWsC218u2a?dl=0">Section 1</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/sl0kasbi2y2b89y/AAAqDMTVr-X1XJxmGQmxpSxBa?dl=0">Section 2</a>
                    </li>
                    <li>
                        <a href="https://www.dropbox.com/sh/yjst9vt3vt0t1iy/AAD08nEEOH2-7FFj7_tpnvOXa?dl=0">Section 5</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 2: Adding more elements and styles </h3>
        <p>In the file we worked on in class, complete the following tasks:</p>
        <ol>
            <li>Change the background-color of the `body`</li>
            <li>Add a border, background-color, and padding to the `div`</li>
            <li>Change the font of both the `h1` and the `p` element</li>
            <li>Add an element we did not go over in class, use <a
            href="https://www.w3schools.com/TAGs/">W3Schools</a> as a reference</li>
        </ol>
        <p>When you've completed those tasks, take a screenshot of your page. Upload the screenshot and your files to your Dropbox folder.</p>
    </div>
</section>
