<section class="week">
    <h2>Week 11<span>November 29, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">Animations, Transitions, &amp; Transforms</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Presentation</li>
            <li>Working Class</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/sh/ia2l3d7z9ydqvgj/AABm-SOEI44dg7JDDEBIelWla?dl=0">Demo Files</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Final Grades</h3>
        <p>All assignments from week 8 until now and extra credit assignments
        are due by <strong>11:59pm on December 8th.</strong></p>
        <p>There's no separate final project for this class but I will be grading the
        code portion of your 5D Fundamentals final as a "Final Grade" for this
        class.</p>
    </div>
</section>

