<section class="week">
    <h2>Week 2 <span>September 13, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Syntax, Elements and Basic Styling</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Review web vocabulary</li>
            <li>Setting up an html file</li>
            <li>Setting up a css file</li>
        </ol>
        <p>Class presentation: <a href="https://www.dropbox.com/s/mt24i6q6dp3u15u/Class2Presentation_Lingo.pdf?dl=0">PDF</a></p>
        <p>Class files: coming soon</p>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 2: Adding more elements and styles </h3>
        <p>In the file we worked on in class, complete the following tasks:</p>
        <ol>
            <li>Change the background-color of the `body`</li>
            <li>Add a border, background-color, and padding to the `div`</li>
            <li>Change the font of both the `h1` and the `p` element</li>
            <li>Add an element we did not go over in class, use <a
            href="https://www.w3schools.com/TAGs/">W3Schools</a> as a reference</li>
        </ol>
        <p>When you've completed those tasks, take a screenshot of your page. Upload the screenshot and your files to your Dropbox folder.</p>
    </div>
</section>


