<section class="week">
    <h2>Week 7 <span>October 24 🎃, 2017</span></h2>
    <div class="week-card">
        <h3 class="label">In Class: Getting your website online</h3>
        <ol class="padded-list">
            <li>Announcements</li>
            <li>Web Hosting &amp; Domains</li>
            <li>Why AWS?</li>
            <li>Tutorial</li>
        </ol>
        <hr>
        <div class="row">
            <div class="col-2">
                <p>Class presentation:</p>
                <ul>
                    <li>
                        <a href="https://www.dropbox.com/s/a8s5x0clxjwc1o8/Class6_MultipageSites.pdf?dl=0">PDF</a>
                    </li>
                    <li>
                        <a href="#">Tutorial</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="week-card">
        <h3 class="label">Assignment 7</h3>
        <p>Wrap up any remaining todo's on your New Yorker project.</p>
        <p>Host your New Yorker website online. You can use it as a placeholder
        home page for now, or include it as a subpage.</p>
        <p>Upload a text document with the url to your New Yorker homepage.</p>
    </div>
</section>




