<section class="week">
    <h2>Week 13: <span>April 17, 2018</span></h2>
    <div class="week-card">
        <h3>No Lesson, Office Hours from 5-7pm</h3>
        <p>Stop by office hours to ask any questions you might have or get help
        on your 5D final.</p>
        <p>A lot of people requested a lesson on web/ui design but I felt like I
        couldn't do it justice in a quick half hour session. I've added a TON of
        resources below about best practices for designing for the web for you
        to peruse at your own leisure.</p>

    </div>
    <div class="week-card">
        <h3>5D Tools Final</h3>
        <p>As I mentioned before, there's no final project for this class and
        instead the code portion of your 5D Fundamentals final will count as your final
        project grade. Don't sweat it, as long as you turn in your project and
        the pages on your site work, you'll get full points.</p>
        <p>Please turn in the project folder for your 5D Fundamenetals project
        to the Dropbox link below. It will be worth 20 points so <strong>do not
            forget to hand it in</strong>. If you're working with a partner or
        in a group, each individual person must submit the project so I can keep
        track of grades properly.</p>

        <p class="due-date">Due on April 27</p>
        <a href="https://www.dropbox.com/request/7bgWSjTtpDR7K88RG3MH"
            target="_blank" class="button">Submit Final Project</a>

    </div>

    <div class="resources">
        <h3>Links &amp; Resources</h3>
        <ul>
            <li><a target="_blank" href="https://blog.prototypr.io/10-basic-principles-of-visual-design-55b86b9f7241">Basic Principles of Visual Design</a></li>
            <li><a target="_blank" href="https://viljamis.com/2016/typography-for-user-interfaces/">Typography for User Interfaces</a></li>
            <li><a target="_blank" href="https://www.smashingmagazine.com/2014/03/design-principles-visual-perception-and-the-principles-of-gestalt/">Gestalt PRinciples and Visual Perception</a></li>
            <li><a target="_blank" href="http://humaninterfaceguidelines.tumblr.com/">Human Interface Guidelines</a></li>
            <li><a target="_blank" href="http://learndesignprinciples.com/">Learn Design Principles</a></li>
            <li><a target="_blank" href="https://medium.com/@erikdkennedy/7-rules-for-creating-gorgeous-ui-part-1-559d4e805cda">7 Rules for Creating Gorgeous UI (Part 1)</a></li>
            <li><a target="_blank" href="https://www.invisionapp.com/blog/core-principles-of-ui-design/">The Core Principles of UI Design</a></li>
            <li><a target="_blank" href="https://uxplanet.org/a-primer-to-web-accessibility-for-designers-2c548448c612">Web Accessibility for Designers</a></li>
            <li><a target="_blank" href="http://ethicsfordesign.com/watch">Ethics for Design</a></li>
            <li><a target="_blank" href="https://robots.thoughtbot.com/tags/design">Giant Robots: Design Articles</a></li>
        </ul>
    </div>
</section>


