body.teaching {
    background-color: lighten($peach, 3%);
    color: $deep-green;

    h1,
    h2,
    h3,
    p {
        font-family: $teaching-font-family;
    }

    h1 {
        font-size: 4.235em;
        position: relative;
        display: inline-block;
        z-index: 1;

        &::before {
            @include position(absolute, null -44px 17px null);
            content: '';
            background-color: darken($peach, 20%);
            width: 100%;
            height: 6px;
            z-index: -1;
            opacity: 0.5;
        }
    }

    a {
        color: magenta;
        font-family: $heading-font-family;

        &:hover {
            opacity: 0.75;
            cursor: pointer;
            color: magenta;
        }
    }

    section {
        border-bottom: 2px solid darken($peach, 5%);
        padding-bottom: 1em;
        margin-bottom: 2em;

        &:first-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.teaching-wrapper {
    margin-top: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.25em;
    max-width: 960px;

    @include media($medium-screen-up) {
        margin-top: 2em;
        margin-left: 8em;
    }

    h4 {
        font-weight: 400;
        font-size: 1.1em;
    }
}

.navigation-list {
    display: flex;
    margin-bottom: 2em;

    a {
        color: magenta;
    }

    @include media($medium-screen-up) {
        justify-content: flex-end;
    }

    li {
        padding-left: 2em;

        &:first-child {
            padding-left: 0;
        }
    }

    a.active {
        font-weight: bold;
        border-bottom: 2px solid magenta;
    }
}

.header {
    margin-bottom: 3em;
}

.class-information {
    @include media($medium-screen-up) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.class-information-block {
    margin-bottom: 2em;

    @include media($medium-screen-up) {
        flex: 0 1 45%;
        margin-bottom: 0;
    }
}

.learning-list,
.grading-list {
    font-family: $mono-font-family;

    li {
        line-height: 2;
        margin-left: 1em;

        &::before {
            margin-right: 1em;
        }
    }
}

.learning-list li {
    &::before {
        content: '\1F33F';
    }
}

.grading-list li {
    &::before {
        content: '\1F4AF';
    }
}

.week {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2em;
    align-items: baseline;

    h2 {
        flex: 1 0 100%;
        padding-bottom: 1em;

        span {
            font-weight: 400;
        }
    }
}

.week-card {
    flex: 0 1 47%;
    padding: 1em;
    background-color: white;
    box-shadow: 0 10px 20px rgba(240, 209, 198, 0.6);

    h3.label {
        font-family: $mono-font-family;
    }

    .padded-list {
        margin: 1em;
    }

    ol {
        font-size: 0.85em;
        list-style-type: decimal;
        margin-left: 1em;

        li {
            padding-bottom: 0.5em;

            &:last-child {
                padding-bottom: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-2 {
    flex: 1;
}
