/* custom styles */

body {
	padding-top: 65px;
	font-family: 'Maven Pro', 'Helvetica', sans-serif;
}

.ribbon-container {
	top: -5px;
	position: fixed;
	z-index: 1031;
}

.ribbon {
	padding-left: 70px;
	position: absolute;
}

.navitem-padding {
	padding: 10px;
}

.navitem-padding form {
	margin: 5px;
}

.navbar-nav {
	font-size: 1.5em;
	font-weight: 100;
}

.navbar-nav > li > a {
	color: #d8262e;
}

.navbar-toggle {
	margin-top: 15px;
	float: right;
}

.hero {
	padding-top:50px;
}

.hero-mtn {
	height: auto;
	padding-top: 150px;	
}

.navbar-brand {
	padding-top: 20px;
	float: left;
}


a {
	color: #d8262e;
}

a:hover {
	color: #d8262e;
}

.navbar-nav > li > a.active {
	color: #000000;
}

.no-underline:hover {
	text-decoration: none;
}

h1 {
	font-family: 'Maven Pro', 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 5em;
}

h2 {
	font-family: 'Maven Pro', 'Helvetica', sans-serif;
	font-size: 3.7em;
	font-weight: 100;
}

h3 {
	font-family: 'Maven Pro', 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 2.7em;
}

h4 {
	font-family: 'Maven Pro', 'Hlevetica', sans-serif;
	font-weight: 100;
}

.text-left {
	padding-top: 60px;
	text-align: left;
}


.hero p {
	font-size: 1.5em;
	font-weight: 400;
	padding-bottom:20px;
}

.hero-mtn p {
	font-size: 1.3em;
	font-weight: 300;
	padding-bottom:10px;
}

.hero-mtn h3 {
	font-size: 2.5em;
}

.hero-mtn h4 {
	font-size: 1.8em;
	line-height: 1em;
}

.hero-mtn .black-bg {
	margin-bottom: 50px;
}

.hero h1  {
	vertical-align: bottom;
	margin: 20px 20px 80px 0;
}

.hero h2 {
	vertical-align: bottom;
	padding-top: 20px;
	line-height: .9em;
}

.hero h3 {
	font-size: 3.3em;
	padding-top: 15px;
	top: -10px;
}

.weather-symbol {
	width: 45px;
	padding-right: 10px;
}

.hero-image {
	background-image: url('../img/hero-bg-4.jpg');
	background-repeat: no-repeat; 
	background-position: 0% 40%;
	background-size: cover;
	background-color: #EEEEEE;
	max-width: 100%;
	height: auto;
}

.hero-image-mtn {
	background-image: url('../img/hero-bg-mtn.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: 0% 40%;
	background-color: #EEEEEE;
	max-width: 100%;
	height: auto;
}

.black-bg {
	background-color: #000000;
	opacity: 0.8;
	max-width: 100%;	
}

.black-bg-happy  {
	background-color: #000000;
	opacity: 0.8;
	max-width: 100%;
	top: 60px;
	height: 41	0px;	
	margin-bottom: 60px;
}

.text-in-hero{
	color: #FFFFFF;
	padding: 10px 0 0 20px;
}

.bump-down {
	top:150px;
}

.hero-links {
	padding-top: 40px;
	top: 150px;
}

.stats .img-placeholder {
	width: 130px;
	padding: 20px 5px 20px 5px;
}

.btn-primary-flat {
	color: #FFFFFF;
	background-color: #c12329;
	padding: 10px;
	font-weight: 300;
	font-size: 1.2em;
	border-radius: 0;
}

.btn-primary-flat:hover {
	color: #FFFFFF;
	background-color: #ca4a4e;
}

.btn {
	background-color: #ca4a4e;
	border-radius: 0;
	color: #FFFFFF;
	padding: 10px;
	font-weight: 300;
}

.btn-secondary-flat {
	color: #363636;
	background-color: #e1e1e1;
	padding: 10px;
	font-weight: 400;
	font-size: 1.2em;
	border-radius: 0;
}

.btn-secondary-flat:hover {
	color: #363636;
	background-color: #EEEEEE;
}

.event {
	padding: 25px 0 25px 0;
}

.event-last {
	padding: 25px 0 75px 0;
}

.event .img-thumbnail {
	height: auto;
}

.event strong {
	color: #d8262e;
}

.event-last strong {
	color: #d8262e;
}

/*
a.list-group-item.active {
	color: #FFFFFF;
	background-color: #d8262e !important;
	border: none; 
	border-color: none;
}

.list-group-item.active {
	color: #FFFFFF;
	background-color: #d8262e !important;
	border: none; 
} */

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	color: #FFFFFF;
	background-color: #d8262e !important;
	border: none; 
	border-color: none;
	background-image: none;
	text-shadow: 0 -1px 0 #333333;
}

footer {
	background-color: #c12329;
	opacity: .8;
	color: white;
	position: relative;
	height: auto;
	clear:both;
	width: 100%; !important
}

footer a {
	color: #FFFFFF;
}

footer a:hover {
	color: #FFFFFF;
}

footer li {
	list-style: none;
	padding: 5px;
}

.ic-social {
	padding: 10px;
}

.footer-sections {
	padding: 30px 0 30px 20px;
}

.map {
	padding-bottom: 50px;
}

hr {
	color: #EEEEEE;
	margin: 20px 0 20px 0;
}

.report_table {
	padding-top: 40px;
	margin-bottom: 50px;
	height: auto;	
}

.button_report {
	top:45px;
}

.page-header button {
	margin-top: 15px;
}

.about li {
	text-decoration: none;
	list-style: none;
}

.services li {
	text-decoration: none;
	list-style: none;
}

/* Media Queries */

/* Navigation Bar Collapse breakpoints */
@media(max-width: 1019px) {
	
	.ribbon {
		display: none;
	}

	.navbar-brand {
		text-align: left;
		left: -20px;
	}

	.page-header {
	padding-top: 13	0px;
	}

}

@media(min-width: 1020px) and (max-width: 1199px) { 
	.navbar-brand {
		display: none;
	}

	.page-header {
	padding-top: 10px;
	}
         
}

@media(min-width: 1200px) { 
	.navbar-brand {
		display: none;
	}
}

@media(min-width: 1200px) { 
	.navbar-brand {
		display: none;
	}
}

/* Small devices (tablets, 401px and up) */
@media(max-width: 401px) {
	
	.btn-block-cust {
		display: block;
		width: 100% !important;
		padding-right: 0;
		padding-left: 0;
	}

	.col-xs-6 {
		width: 100%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
	}

	.hero-links {
		top: 70px;
	}

	ul {
		padding-left: 0;
	} 

	.btn-report.btn-secondary-flat {
		display:none;
	}
}

@media(max-width: 768px) {

	.bump-down {
		top: 20px;
	}

	.black-bg-happy {
		top: 0;
		margin-bottom: 20px;	
	}

	.black-bg-happy h1 {
		margin-bottom: 30px;
	}

	.container.hero  {
		padding-bottom: 100px;
	}

	.hero-links {
		top: 70px;
	}

	.hero-mtn .black-bg {
		padding: 20px; 5px 30px 5px;
		margin-bottom: 0;
	}

	.hero-image {
	background-image: url('../img/hero-bg-3.jpg');
	background-repeat: no-repeat; 
	background-position: 0% 40%;
	background-size: cover;
	background-color: #EEEEEE;
	max-width: 100%;
	height: auto;
	}

}


/* Medium devices (desktops, 992px and up) */
@media(min-width: 768px) and (max-width: 991px) { 
	.container.hero  {
		padding-bottom: 100px;
	}

	.btn-trailmaps {
		display: none;
	}

         
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1198px) {
	.text-in-hero {
		padding-left: 10px;
	}

	.hero h1 {
		font-size: 4.5em;
	}

	.hero h2 {
		font-size: 3em;
	}

	.hero h3 {
		font-size: 2.3em;
	}

	.page-header {
		padding-top: 10px;
	}

	.btn-trailmaps {
		display:none;
	}

}

@media (min-width: 402px) and (max-width:1197px) {

	.btn-trailmaps.btn-secondary-flat {
		display:none;
	}
}

 @media (max-width:565px) {


	.btn-group  {
		position: relative;
		display: block;
		vertical-align: middle;
	}

	.btn-secondary-flat {
		position: relative;
		display: block;
		vertical-align: middle;
	}

	.btn-group > .btn {
		position: relative;
	}

	.btn-group-justified .btn {
		display: inline-block;
		width:100%;
	}
}
