<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="teaching">
        <div class="teaching-wrapper">
            <nav class="teaching-navigation">
                <ul class="navigation-list">
                    <li><a href="/5dtools"
                           {% if page.url == '/5dtools.html' %} class="active" {% endif %}
                           >Lessons &amp; Assignments
                        </a></li>
                    <li><a href="/5dtools-syllabus.html"
                           {% if page.url == '/5dtools-syllabus.html' %} class="active" {% endif %}
                           >Syllabus
                        </a></li>
                    <li><a href="5dtools-resources.html"
                           {% if page.url == '/5dtools-resources.html' %} class="active" {% endif %}
                            >Resources</a></li>
                </ul>
            </nav>

            <main class="teaching-container">
                {{ content }}
            </main>
        </div>
    </body>
</html>
