ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

ul,
ol {
    margin-bottom: 1em;

    li {
        position: relative;
        padding-bottom: 0.5em;

        &::before {
            position: absolute;
            left: -25px;
            top: 2px;
        }

        &.week1::before {
            content:'🎈';
        }
        &.week2::before {
            content: '🌶';
        }
        &.week3::before {
            content: '🎯';
        }
        &.week5::before {
            content: '🍓';
        }
        &.week6::before {
            content: '❣️';
        }
        &.week7::before {
            content: '🎒';
        }
        &.week9::before {
            content: '💥';
        }
        &.week10::before {
            content: '♨️';
        }
        &.week11::before {
            content: '🦑';
        }
    }
}

.assignment-list {
    font-size: 0.9em;
    margin-left: 1em;
    list-style-type: circle;
}
