body {
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
}

h1 {
    font-family: $display-font-family;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2.6em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h3 {
  font-size: 1em;
  margin-bottom: $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  position: relative;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);

    &:before {
      transform: scaleX(1);
      visibility: visible;
    }
  }

  &:before {
    @include position(absolute, null null -5px 0);
    background-color: currentColor;
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform $base-duration $base-timing;
    visibility: hidden;
    width: 100%;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
