//Hero
.hero {
  background-color: #384150;
  height: 355px;
  padding-top: 50px;

  .circle {
    @include size(180px);
    @include vertical-align;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto;

    .circle-text {
      text-transform: uppercase;
      font-size: 2.2em;
      line-height: 1em;
      color: #384150;
      text-align: center;

      .silva {
        font-size: 1.3em;
        font-weight: 400;
      }
    }
  }

  .ic_socialmedia {
    position: relative;
    padding-top: 1.5em;
    text-align: center;


    ul {
      list-style-type: none;
      margin: 1em auto;
      width: auto;
      display: inline-block;
      height: auto;
      -webkit-padding-start: 0;


      li {
        float: left;
        padding-right: 3.5em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        transition: opacity .5s ease-in-out;
        width: 60px;
        opacity: 0.85;

        &:hover {
          cursor: pointer;
          transition: opacity .7s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}
